@page "/"
@using MextFullStack.WasmClient.Helpers
@inject UrlHelper UrlHelper

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@BaseUrl

@code
{
    public string BaseUrl { get; set; }
    protected override void OnInitialized()
    {
        BaseUrl = UrlHelper.ApiBaseUrl;

        UrlHelper.ApiBaseUrl = "Home Page Url";

        base.OnInitialized();
    }
}
