<div class="mt-5 flex items-center justify-center space-x-2">
    <div class="h-16 w-16 animate-bounce rounded-full bg-red-500 [animation-delay:-0.3s]"></div>
    <div class="h-16 w-16 animate-bounce rounded-full bg-red-500 [animation-delay:-0.13s]"></div>
    <div class="h-16 w-16 animate-bounce rounded-full bg-red-500"></div>
</div>