@page "/"
@using MextFullStack.WasmClient.Helpers
@inject UrlHelper UrlHelper
@inject IToasterService ToastService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="border-b-2 border-l-2 border-r-2 group relative m-1 inline-flex cursor-pointer items-center justify-center overflow-hidden rounded-lg border-red-700 bg-gradient-to-tr from-red-600 to-red-500 px-4 py-1 text-white shadow-lg transition duration-100 ease-in-out active:translate-y-0.5 active:border-red-600 active:shadow-none">
    <span class="opacity-10 absolute h-0 w-0 rounded-full bg-white transition-all duration-300 ease-out group-hover:h-32 group-hover:w-32"></span>
    <span class="relative font-medium">SyntaxUI</span>
</button>

<Loading/>

@BaseUrl

@code
{
    public string BaseUrl { get; set; }
    protected override void OnInitialized()
    {
        BaseUrl = UrlHelper.ApiBaseUrl;

        UrlHelper.ApiBaseUrl = "Home Page Url";

        base.OnInitialized();
    }
}
