<div class="mt-5 flex min-h-screen items-center justify-center space-x-2">
    <div class="bg-[#008DDA] h-16 w-16 animate-bounce rounded-full [animation-delay:-0.3s]"></div>
    <div class="bg-[#008DDA] h-16 w-16 animate-bounce rounded-full [animation-delay:-0.13s]"></div>
    <div class="bg-[#008DDA] h-16 w-16 animate-bounce rounded-full"></div>
</div>