@page "/social-login"
<h3 class="my-auto">Email:@Email</h3>
<h3 class="my-auto">First Name:@FirstName</h3>
<h3 class="my-auto">Last Name:@LastName</h3>

@code {
    [SupplyParameterFromQuery]
    [Parameter] 
    public string Email { get; set; }
    
    [SupplyParameterFromQuery]
    [Parameter] 
    public string FirstName { get; set; }
    
    [SupplyParameterFromQuery]
    [Parameter] 
    public string LastName { get; set; }
}