@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
<div>
    <BlazoredToasts Position="ToastPosition.TopRight"/>
    <NavBar/>
    <main class="container mx-auto">
        @Body
    </main>
</div>
